@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-background-light dark:bg-background-dark scroll-smooth antialiased;
}

.glassmorphism {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.auth-path {
  clip-path: polygon(100% 0, 100% 100%, 35% 100%, 0 51%, 0 0);
}

.profile-path {
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 38%,
    100% 38%,
    50% 100%,
    50% 100%,
    0 38%,
    0 38%
  );
}

.button-path {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

::-webkit-scrollbar {
  @apply w-1 h-1 bg-black;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 50px;
  background: #3b82f6;
}
